# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Results and audio_cache folder
results/
audio_cache/
__pycache__/